{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Timeless Treasures</title>
  </head>
  <body>
    <div class="main_body">
      <div class="header">
        <h1>Timeless Treasures</h1>
        <div class="navbar">
          <div class="menu">
            <div>Menu</div>
          </div>
          <div class="sort">
            <div>search</div>
            <div>year</div>
            <div>type</div>
            <div>user</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="antiques">
          {% for x in antiques %}
          <div class="img_container">
            <img src="{{x.link}}" alt="{{ x.name }}" />
            <div class="hover_div">
              <Text class="img_info"
                >Include detailes about certain image here</Text
              >
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
</html>
