{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Timeless Treasures</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="main_body">
      <div class="header" style="background-image: url({% static 'images/header_image.jpg' %})">
        <h1>Timeless Treasures</h1>
        <div class="navbar">
          <div class="menu">
            <div>Menu</div>
          </div>
          <div class="sort">
            <div>search</div>
            <div>year</div>
            <div>type</div>
            <div>user</div>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="antiques">
        {% for x in antiques %}
        <span><img src="{{x.link}}" alt="{{ x.name }}"></span>
        {% endfor %}
      </div>
      </div>
    </div>
  </body>
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</html>

