{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Timeless Treasures</title>
  </head>
  <body>
    <div class="main_body">
      <div class="header">
        <h1>Timeless Treasures</h1>
        <div class="navbar">
          <div class="menu">
            <div class="dropdown">menu
                <ul class="dropdown">
                    <div class="dropdown-content">
                        <li><a href="Painting">Paintings</a></li>
                        <li><a href="Statue">Statues</a></li>
                        <li><a href="Building">Buildings</a></li>
                        <li><a href="Book">Old books</a></li>
                        <li><a href="Vehicle">Vehicles</a></li>
                        <li><a href="Tool">Tools</a></li>
                        <li><a href="Jewelry">Jewelry</a></li>
                    </div>
                </ul>
            </div>
          </div>
          <div class="sort">
            <div>search</div>
            <div class="dropdown">year
              <form action="filter" method="GET" class="dropdown-content">
                  {% for i in range %}
                      <optgroup label="{{ i.century }}th century">
                      {% for x in i.years %}
                          <option><label><input type="checkbox" name="year[]" id="{{ x }}" value="{{ x }}">{{ x }}<br></label></option>
                      {% endfor %}
                      </optgroup>
                  {% endfor %}
                  <input type="submit" name="submit" value="Submit">
              </form>
            </div>
            <div class="dropdown">type
              <form action="filter" method="GET" class="dropdown-content">
                    <label><input type="checkbox" name="type[]" id="Painting" value="Painting">Paintings<br></label>
                    <label><input type="checkbox" name="type[]" id="Statue" value="Statue">Statues<br></label>
                    <label><input type="checkbox" name="type[]" id="Building" value="Building">Buildings<br></label>
                    <label><input type="checkbox" name="type[]" id="Book" value="Book">Old books<br></label>
                    <label><input type="checkbox" name="type[]" id="Vehicle" value="Vehicle">Vehicles<br></label>
                    <label><input type="checkbox" name="type[]" id="Jewelry" value="Jewelry">Jewelry<br></label>
                    <label><input type="checkbox" name="type[]" id="Tool" value="Tool">Tools<br></label>
                  <input type="submit" name="submit" value="Submit">
              </form>
            </div>
            <a href="check_user"><div>user</div></a>
          </div>
        </div>
      </div>
      <div class="container">
          {% include 'antiques.html' %}

          {% if uncertain %}
              <p>These antiques don't have an exact date, but they are from the same century(es) as the years you have selected</p>
              {% with uncertain as antiques %}
              {% include 'antiques.html' %}
              {% endwith %}
          {% endif %}
      </div>
    </div>
  </body>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
</html>
