{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
  </head>
  <body>
    <div class="main_body">
      <a href="index"
        ><div class="header">
          <h1>Timeless Treasures</h1>
        </div>
      </a>
      <div class="container">
        <form action="login" method="POST">
          <div class="inputholder">
            {% csrf_token %} {% for field in form %} {{ field }}<br />
            {% endfor %} {% if valid == 'no' %}
            <p class="invalid">Please check your details again</p>
            {% endif %}
            <input id="#submit" type="submit" value="Submit" /><br />
            <div class="footer">
              <a href="#">Forgot your password?</a>
              <a class="signup" href="signup">Sign up!</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
