{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Page</title>
  </head>
  <body>
    <div class="main_body">
      <div class="container">
        <div class="user_info">
          <div class="user_header">
            <div class="user_image"></div>
            <Text class="text">Username</Text>
          </div>
          <div class="details">
            <div class="email">Email: {{ email }}</div>
            <div class="phone">Phone Number:</div>
            <div class="last_name">Last Name:</div>
              <a href="logout"><button>Log out</button></a>
          </div>
        {% if user == 'yes' %}
            <a href="user" class="collections">Favorites</a>
            {% for c in collections %}
                <a href="user/{{ c }}" class="collections">{{ c }}</a>
            {% endfor %}
        {% else %}
            <a href="../user" class="collections">Favorites</a>
            {% for c in collections %}
                <a href="../{{ c }}" class="collections">{{ c }}</a>
            {% endfor %}
        {% endif %}
        </div>
      {% if user == 'yes' %}
          <div class="header"><a href="index"><h1>Timeless Treasures</h1></a></div>
      {% else %}
        <div class="header"><a href="../index"><h1>Timeless Treasures</h1></a></div>
      {% endif %}
          {% include 'antiques.html' %}
      </div>
    </div>
  </body>
  <link rel="stylesheet" type="text/css" href="{% static 'user.css' %}" />
</html>
