body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;

}
.main_body{
    background-color: rgba(255, 243, 233, 1);
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


.header{
    background-color: red;
    width: 100%;
    height: 30%;
    position: relative;
    background-image: url('./images/header_image.jpg');
    background-size:auto;
    background-repeat:unset;
    text-align: center;
}

.header > h1{
    width: 100%;
    position: absolute;
    font-size: 60px;
    color: black;
    letter-spacing: .25em;
    top: 30%;
    left: 30%;
    transform: translateY(-30%) translateX(-30%);
}

.navbar{
    position: absolute;
    width: 80% ;
    background-color: rgba(161, 127, 90, 0.8);
    height: 21%;
    top: 110%;
    left: 110%;
    transform: translateY(-100%) translateX(-125%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color :rgba(255, 243, 233, 1);
    font-size: 22px;
    letter-spacing: .2em;
    overflow-wrap: break-word;

}

.sort{
    font-size: 22px;
    letter-spacing: .2em;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color :rgba(255, 243, 233, 1);  

}


.container{
    background-color: rgba(255, 243, 233, 1);
    width: 100%;
    height: auto;
}

.container img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    z-index: 1;
    flex:1;
}

.container .antiques {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-start;
}

.img_container{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 280px;
    margin-top: 20px;
    z-index: 1;
    position: relative; 
}
.hover_div{ 
  display: none;    
}

.img_container:hover .hover_div{
    display: block; 
    position:absolute;
    top:0;
    left:0;
    width: 300px;
    height: 280px;
    background-color: rgba(255, 243, 233, 0.8);    
    z-index: 3;
    flex-wrap: wrap;
}
.img_info{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.img_info .heart{
    background-color: aqua;
    display: flex;
    align-items: end;
    justify-content: end;
    background-image: url(./images/heart.png);
    width: 50px;
    height: 50px;
    bottom: 0;
}

.img_info p{
    font-size: 18px;
}
