body{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}
.main_body{
    background-color: rgba(206,178,131,255);
    padding: 0;
    position: relative;
    height: 100vh;
    width: 70%; 
    margin: 0 auto;
}

.user_info{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255,255, 0.25);
}

.user_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourites{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 80vh;
}
.user_image{
    margin: 30px auto;
    width:200px;
    height:200px;
    background-color: rgba(255, 255,255, 0.25);
    border-radius: 120px;
    background-image: url(./images/user.png);
    background-repeat: none;
    background-size:cover;
}
.text{
    font-size: 30px;
}
.details{
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column; 
    width: 30%;
    font-size: 22px;
    letter-spacing: .1em;   
    color :rgba(255, 243, 233, 1);   
    width: 100%;
    row-gap: 2px;
}